* {
  margin: 0;
  padding: 0;
}

Button {
  background-color: #03A9F4;
  color: #FFFFFF;
}

.fav-btn, .add-btn {
  /*width: 150;*/

}

.add-btn {

}

.current {
  border-width: 0 0 1 0;
  border-color: #1976D2;

  align-content: center;
}

.big-current {
  height: 270;
}

.icon {
  height: 110;
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 85;
  text-align: center;

}

.small-icon {
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 40px;
}

.title {
  font-size: 35;
  font-weight: bold;
  color: #212121;
}

.temp-holder {

  color: #212121;
}

.scroll-menu {
  height: 200;
}

.forecast {

  border-width: 0 1 0 0;
  border-color: #1976D2;
  width: 200;
}

.forecast-last {
  border-width: 0;
}
