Page {
  background-color: #2196F3;
  color: white;
}

.current {
  height: 400;
  border-width: 1;
  border-color: red;
}

.icon {
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 100px;
  text-align: center;
}

.small-icon {
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 18px;
  margin-right: 5px;
}

.title {
  font-size: 55;
  font-weight: bold;
  color: black;
  background-color: #2196F3;
}

.scroll-menu {
  height: 250;
}

.forecast {
  border-width: 1;
  border-color: red;
}
