.current {
  height: 450;
  border-width: 1;
  border-color: blue;
  padding: 20;
  align-content: center;
}

.icon {
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 120px;
  text-align: center;
  padding-top: 40;
}

.small-icon {
  font-family: 'weathericons-regular-webfont, Weather Icons';
  font-size: 40px;
}

.title {
  font-size: 55;
  font-weight: bold;
  color: black;
}

.temp-holder {
  color: black;
}

.scroll-menu {
  height: 200;
}

.forecast {
  padding: 10;
  border-width: 1;
  border-color: black;
  width: 200;
}
